@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ff4628;
    --secondary-color: #ff228c;
    --accent-color: #ffa600; 
    --background-color: #fff4e6; 
    --text-color: #2d2d2d;
    --muted-color: #ff7597; 
    --highlight-color: #ffdfd2; 
    --success-color: #28c76f; 
    --warning-color: #faae42; 
    --error-color: #d9376e;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.reset-password-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.main-reset-password-container{
    height: 40%;
    width: 40%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--background-color);
}

.reset-password-container-title{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password-container-input{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.reset-password-container-input label{
    width: 80%;
    font-weight: 600;
    color: var(--text-color);
}

.reset-password-container-input input{
    width: 80%;
    height: 40%;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 1rem;
    outline: none;
}

.reset-password-container-button{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password-container-button button{
    height: 40%;
    width: 80%;
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 1.5rem;
}

.reset-password-container-button button:hover{
    background-color: #ff2200;
}