@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ff4628;
    --secondary-color: #ff228c;
    --accent-color: #ffa600; 
    --background-color: #fff4e6; 
    --text-color: #2d2d2d;
    --muted-color: #ff7597; 
    --highlight-color: #ffdfd2; 
    --success-color: #28c76f; 
    --warning-color: #faae42; 
    --error-color: #d9376e;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  

.leaflet-container{
    height: 100vh;
    width: 60vw;
}

.home-main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    color: var(--text-color);
}

.home-left-container{
    height: 100%;
    width: 60%;
}

.home-right-container{
    height: 100%;
    width: 40%;
}

.right-main-container{
    height: 100%;
    width: 100%;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
}

.search-bar{
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar input{
    height: 100%;
    width: 89%;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 1rem;
    outline: none;
}

.search-bar button{
    height: 100%;
    width: 10%;
    color: white;
    background-color: var(--muted-color);
    border: 1px solid black;
    border-radius: 1rem;
}

.category-container{
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category-container select{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.2rem;
    outline: none;
}

.posts-container{
    height: 82%;
    width: 100%;
    overflow-y: scroll;
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.container-post{
    height: auto;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
}

.container-post:nth-child(even){
    background-color: rgb(219, 219, 254);
}

.container-post:nth-child(odd){
    background-color: rgb(169, 169, 255);
}

.container-post h1{
    font-size: large;
    font-weight: 600;
}

.profile-button{
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.profile-button button{
    height: 100%;
    width: 30%;
    color: white;
    background-color: var(--muted-color);
    border: 1px solid black;
    border-radius: 0.2rem;
    outline: none;
}

.right-main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.back-button{
    height: 3%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.reviews-container{
    height: auto;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.review-container{
    height: auto;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #55ffa1;
}

.review-container h1{
    font-size: medium;
    font-weight: 500;
}

.post-container{
    height: auto;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.2rem;
    background-color: rgb(169, 169, 255);
}

.post-container h1{
    font-size: larger;
    font-weight: 600;
}