@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

:root{
    --primary-color: #ff4628;
    --secondary-color: #ff228c;
    --accent-color: #ffa600; 
    --background-color: #fff4e6; 
    --text-color: #2d2d2d;
    --muted-color: #ff7597; 
    --highlight-color: #ffdfd2; 
    --success-color: #28c76f; 
    --warning-color: #faae42; 
    --error-color: #d9376e;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.profile-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.profile-main-container{
    width: 98%;
    height: 98%;
    box-shadow: 4px 4px 4px black;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.profile-top-container{
    height: 25%;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.profile-top-left-container{
    height: 100%;
    width: 20%;
    overflow: hidden;
}

.profile-top-left-container img{
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
    display: block;
}

.profile-top-right-container{
    height: 100%;
    width: 80%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.profile-sliding-bar{
    height: 5%;
    width: 98%;
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: var(--muted-color);
}

.profile-sliding-bar p{
    cursor: pointer;
}

.profile-update-container:hover{
    font-weight: 600;
}

.profile-create-post-container:hover{
    font-weight: 600;
}

.profile-post-view-container:hover{
    font-weight: 600;
}

.profile-review-view-container:hover{
    font-weight: 600;
}

.active{
    color: white !important;
}

.profile-update-containers{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.profile-update-left-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containers{
    height: 25%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.containers label{
    font-size: larger;
    font-weight: 600;
}

.containers input{
    height: 80%;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    outline: none;
}

.containers button{
    height: 80%;
    font-size: larger;
    font-weight: 600;
    color: white;
    background-color: var(--success-color);
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
}

.containers button:hover{
    background-color: #00b451;
}

.profile-update-right-container{
    height: 100%;
    width: 50%;
    border-left: 1px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-update-right-container h1{
    font-size: large;
}

.profile-update-right-container form{
    display: flex;
    flex-direction: column;
}

.profile-update-right-container button{
    height: 60%;
    width: 30%;
    background-color: var(--success-color);
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
}

.profile-update-right-container button:hover{
    background-color: #00b451;
}

.profile-post-container{
    height: 70%;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-container-post{
    width: 100%;
    height: 20%;
}

.profile-container-post input{
    height: 50%;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid black;
    outline: none;
}

.profile-container-post select{
    height: 70%;
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 1rem;
}

.profile-post-button{
    height: 20%;
    width: 100%;
}

.profile-post-button button{
    height: 70%;
    width: 20%;
    border: 1px solid black;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    background-color: #28c76f;
}

.profile-post-button button:hover{
    background-color: #00b451;
}

.posts-display-container{
    height: 68%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.post-display-container{
    height: auto;
    width: 100%;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.post-display-container h1{
    font-size: large;
}

.post-display-container:nth-child(even){
    background-color: rgb(219, 219, 254);
}

.post-display-container:nth-child(odd){
    background-color: rgb(169, 169, 255);
}

.reviews-display-container{
    height: 68%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.review-display-container{
    height: auto;
    width: 100%;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.review-display-container h1{
    font-size: large;
}

.review-display-container:nth-child(even){
    background-color: #8affe8;
}

.review-display-container:nth-child(odd){
    background-color: #00ffcc;
}